.container {
  border: 1px solid black;
  padding: 10px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 10px;
  padding-bottom: 50px;
  border: 1px solid black;
  margin-top: 20px;
  place-items: center;
}

.box {
  padding: 15px;
  width: 100px;
  background-color: #90a4ae;
  text-align: center;
  color: white;
}