* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: black;
  color: white;
}

body {
  font-family: 'Roboto', sans-serif;
}
.white {
  color: white;
} 
nav {
  position: fixed;
  top: 0;
  z-index: 2;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
  height: 60px;
  * {
    z-index: 2;
  }
}

.logo {
  display: flex;
  gap: 30px;
  cursor: pointer;
}

.lines {
  display: flex;
  flex-direction: column;
  gap: 6px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  span {
    width: 20px;
    height: 1.5px;
    background-color: white;
  }
}

.center {
  display: flex;
  gap: 30px;  
  align-items: center;
}

.search {
  display: flex;
  input {
    padding: 10px 20px;
    font-size: 15px;
    width: 500px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border: 1px solid gray;
    background-color: black;
  }
  button {
    padding: 10px;
    font-size: 15px;
    border: 1px solid gray;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: #222222; 
    padding: 10px 20px;
    cursor: pointer;
    i{
      background-color: transparent;
    }
  }
}

.mic{
  padding: 10px;
  background-color: #222222; 
  border-radius: 50%;
  width: 40px;
  height: 40px;
  font-size: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  i {
    background-color: transparent;
  }
}

.icons {
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: center;

  img {
    border-radius: 50%;
    width: 35px;
    height: 35px;
    cursor: pointer;
  }
  i {
    font-size: 20px;
  }
}

.create {
  background-color: #222222;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 15px;
  * {
    background-color: transparent;
    font-size: 15px;
  }
}


.page {
  display: flex;
  align-items: left;
  padding: 10px 20px ;
  gap: 20px;
  height: calc(100vh - 60px);
  position: relative;
}

.sideBar {
  display: flex;
  position: fixed;
  top: 60px;
  flex-direction: column;
  gap: 30px;
  height: 100%;
  width: 50px;
  padding-top: 10px;
}

.tab {
  display: flex;
  flex-direction: column;
  align-items: center;
  
  gap: 10px;
  border-radius: 20px;
  cursor: pointer;
  i {
    background-color: transparent; 
    font-size: 20px;
  }
  p {
    font-size: 10px;
  }
}

.rightPage {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-left: 70px;
}

.tags {
  display: flex;
  position: fixed;
  top: 60px;
  gap: 10px;
  height: 50px;
  padding-left: 20px;
  z-index: 2;
  .tag {
    background-color: #222222;
    padding: 7px 20px;
    border-radius: 10px;
    font-size: 15px; 
    text-align: center;
    line-height: 1.8;
    height: 40px;
    cursor: pointer;
  }
  .arrow {
    background-color: transparent;
  }
}

.content {
  margin-top: 110px;
  display: Grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding-bottom: 30px;
}

.video {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 10px;
  img {
    width: 100%;
    border-radius: 10px;
  }
  p {
    font-size: 15px;
  }
}

.thumbnail {
  position: relative;
  img {
    width: 100%;
    height: 220px;
    
  }
}

.time {
  position: absolute;
  right: 10px;
  bottom: 10px;
  background-color: rgba(0, 0, 0, 0.721);
  color: white;
  padding: 2px 5px;
  border-radius: 2px;
  font-size: 12px;
  z-index: 1;
}

.channelImg {
  width : 40px;
  height: 40px;
  img {
    width: 100%;
    border-radius: 50%;
  }
}

.info {
  display: flex;
  gap: 10px;
  align-items: start;
  justify-content: flex-start;
}

.videoDetails{
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.title {
  font-weight: bold;
  font-size: 16px;
}

.channelName {
  font-size: 12px;
  color: gray;
}

.views {
  font-size: 12px;
  color: gray;
}

.selected {
  background-color: white !important;
  color: black;
}