div {
  width: 400px;
  height: 300px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #4d7298;
  border-radius: 20px;
  p {
    background-color: #4d7298;
    color: white;
    font-size: 20px;
    padding: 10px;
    padding-right: 50px;
  }
}