* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}



.vh {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  position: relative;
  height: 430px;
  padding: 0;
  margin:  auto ;
  margin: 100px auto ;
  width: 600px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  row-gap: 20px;
}

.box {
  width: 130px;
  height: 130px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}



.b2 {
  position: absolute;
  top: 0px;
  left: 10px;  
}

.b3 {
  position: absolute;
  top: 0px;
  left: 160px;  
}

.b4 {
  position: absolute;
  top: 0px;
  left: 310px;  
}

.b5 {
  position: sticky;
  top: 0px;
  left: 788.5px;  
  
}

.b6 {
  position: absolute;
  top: 150px;
  left: 10px;  
}

.b7 {
  position: absolute;
  top: 150px;
  left: 160px;  
}

.b8 {
  position: absolute;
  top: 150px;
  left: 310px;  
}

.b9 {
  position: absolute;
  top: 150px;
  left: 460px;  
}

.b10 {
  position: absolute;
  top: 300px;
  left: 10px;  
}

.b11 {
  position: absolute;
  top: 300px;
  left: 160px;  
}

.b12 {
  position: absolute;  
  top: 300px;
  left: 310px;  
}

.pink {
  background-color: #ce6179;
}

.blue {
  background-color: #44accf;
}

.green {
  background-color: #b8d74b;
}

.yellow {
  background-color: #ebde52;
}

.purple {
  background-color: #c8a2c8;
}

.redpink {
  background-color: #f03d64;
}